/* stili generali della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

html, body {
    height: 100%;
}

/* ------------------------- header ------------------------- */
header {
    width: 100%;
    background-color: #B4D0E7;
    /* debug
    min-height: 600px;
    background-color: rgb(99, 234, 255); */
}

nav {
    width: 100%;
    display: flex;
    min-height: 60px;
    background-color: white;
}

#left-nav {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* debug
    background-color: yellow;
    min-height: 60px; */
}

#right-nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* debug
    background-color: rgb(153, 250, 153);
    height: 60px; */
}


#left-nav img {
    margin-left: 10px;
    cursor: pointer;
}

header ul {
    list-style-type: none;
    margin-left: 30px;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: black;
}

#right-nav button {
    margin-right: 10px;
}

.button {
    background-color: #0861FF;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.short-button {
    padding-left: 8px;
    padding-right: 8px;
}

#jumbotron-section {
    width: 70%;
    margin: 20px auto;
    padding-top: 50px;
    /* debug */
    min-height: 540px;
}

#jumbotron-section h1 {
    font-size: 55px;
}

#jumbotron-container {
    display: flex;
    /* debug
    min-height: 300px;
    background-color: orange; */
}


#jumbotron-text {
    padding-top: 40px;
    width: 40%;
    flex-direction: column;
}

#jumbotron-text button {
    margin-top: 20px;
    display: block;
}

#jumbotron-text a {
    margin-top: 15px;
    display: block;
}

#jumbotron-text i {
    padding-top: 50px;
    font-size: 30px;
}

#jumbotron-section img {
    width: 60%;
    padding-top: 40px;
}



/* -------------------------- main -------------------------- */
main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* debug */
    min-height: 600px;
    background-color: rgb(255, 156, 222);
}

#choose-plan {
    width: 70%;
    /* debug */
    min-height: 600px;
    background-color: rgb(255, 112, 112);
}

#plans-container {
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     /* debug */
    min-height: 400px;
    background-color: bisque;
}

.first-three-plans {
    width: calc((100% / 3) - 10px);
    margin: 0 auto;
    /* debug */
    min-height: 300px;
    background-color: rgb(112, 211, 247);
}

#last-plan {
    width: calc(100% - 10px);
    /* debug */
    min-height: 200px;
    background-color: rgb(105, 241, 105);
}

#find-a-partner {
    width: 70%;
    margin: 10px auto;
    display: flex;
    /* debug */
    min-height: 200px;
    background-color: darkviolet;
}

#find-a-partner > img {
    width: 60%;
}



#operations-section {
    width: 70%;
    margin-top: 10px;
    /* debug */
    background-color: orange;
    min-height: 400px;
}

#operations-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* debug */
    background-color: aqua;
    min-height: 400px;
}

.operation {
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - 10px);
    margin-top: 10px;
    /* debug */
    background-color: red;
    min-height: 150px;
}

#partners-section {
    width: 100%;
    /* debug */
    min-height: 300px;
    background-color: lightgreen;
}

#partners-description {
    width: 70%;
    margin: 10px auto;
    /* debug */
    background-color: yellow;
    min-height: 100px;
}

#big-logos-container {
    width: 100%;
    display: flex;
    /* debug */
    background-color: #F5F5F5;
    min-height: 300px;
}

#left, #middle, #right{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    /* debug */
    min-height: 300px;
}

.logo {
    width: 50%;
    padding-top: 50%;
    color: white;
}

#designit {
    background-color: #A2D39B;
}

#arizona-university {
    background-color: #61082B;
}

#university-florida {
    background-color: #0693CF;
}

#topps {
    background-color: #FF1C1C;
}

#world-bicycle-relief {
    background-color: #D5001E;
}

#hearst-corporation {
    background-color: #B4D0E7;
}

#lonely-planet {
    background-color: #0D2481;
}

#clear-channel-outdoor {
    background-color: #FFD830;
}

#middle {
    display: flex;
    flex-direction: column;
}

#free-trial-section {
    background-color: #B4D0E7;
    width: 100%;
    /* debug */
    min-height: 200px;
}

#free-trial-section-container {
    width: 70%;
    margin: 30px auto;
    /* debug */
}

#left-free-trial {
    width: 50%;
    display: inline-block;
}

#right-free-trial {
    width: 49%;
    display: inline-block;
    padding-left: 200px;
}

#faq-section {
    width: 100%;
    background-color: white;
    /* debug */
    min-height: 300px;
}


/* ------------------------- footer ------------------------- */
footer {
    background-color: black;
    color: white;
    width: 100%;
    justify-content: center;
    /* debug */
    min-height: 300px;
}

#footer-columns-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 50px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: calc((100% / 5) - 10px);
    /* debug */
    background-color: lightgreen;
    min-height: 200px;
}

.footer-column > h3 {
    font-weight: bold;
    font-size: 20px;
}

.footer-column > ul {
    list-style-type: none;
    padding-top: 10px;
}

.footer-column li {
    padding-top: 10px;
}

.footer-column a {
    text-decoration: none;
    color: white;
}

#footer-bottom {
    width: 10%;
    margin-left: 130px;
    margin-top: 40px;
}

#footer-bottom > hr {
    margin-bottom: 25px;
}


